SnakeGameV2/SnakeGameFrontend/bin/*
SnakeGameV2/SnakeGameFrontend/obj/*
SnakeGameV2/SnakeGameFrontend/wwwroot/*
SnakeGameV2/SnakeGameFrontend/.vs/*

SnakeGameV2/SnakeGameBackend/bin/*
SnakeGameV2/SnakeGameBackend/wwwroot/*
SnakeGameV2/SnakeGameBackend/obj/*
SnakeGameV2/SnakeGameBackend/.vs/*
SnakeGame/
.vs/*
*.map
*.log
*.bin
